<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/todo.css">
    <script src="https://kit.fontawesome.com/38d14ddf07.js" crossorigin="anonymous"></script>
    <title>To-do-List</title>
</head>
<body>
    <header>
        <img id="logo" src="https://img.freepik.com/free-vector/people-making-list-illustration_53876-43029.jpg?w=2000" alt="Todo App" >
        <nav>
            <a href="#" id="main">Todas as Tarefas</a>
            <a href="/create">Criar nova tarefa</a>
        </nav>
    </header>
    <main>
        <section>
            <h2>List Tasks</h2>
            <div id="tasks">
                <ul id="list"></ul>
            </div>
        </section>
    </main>
    <script src="/public/scripts/todo.js"></script>
</body>
</html>